
$light0: #ffffff;
$light1: #d1d1d1;
$light2: #8A85A4;

$gray0: #34343e;

$shad0: 0 0 30px rgb(67, 64, 79, 0.3);
$shad1: 0 0 10px rgb(67, 64, 79, 0.3);

$dark0: #000000;
$dark1: #1e1e25;
$dark2: #282831;
$dark3: #33333e;
$dark4: #43404f;
$dark5: #16161c;
$dark6: #2d2d39;
$dark7: #121217;
$dark8: #514d61;

$fn0: 0.5rem;   // 8px
$fn1: 0.625rem; // 10px
$fn2: 0.75rem;  // 12px
$fn3: 0.875rem; // 14px
$fn4: 1rem;     // 16px
$fn5: 1.125rem; // 18px
$fn6: 1.25rem;  // 20px
$fn7: 1.375rem; // 22px
$fn8: 1.5rem;   // 24px
$fn9: 1.625rem; // 26px
$fn10: 1.75rem; // 28px
$fn11: 1.875rem;// 30px
$fn12: 2rem;    // 32px
$fn13: 2.125rem;// 34px
$fn14: 2.25rem; // 36px
$fn15: 2.375rem;// 38px
$fn16: 2.5rem;  // 40px
$fn17: 2.625rem;// 42px
$fn18: 2.75rem; // 44px
$fn19: 2.875rem;// 46px
$fn20: 3rem;    // 48px
$fn21: 3.125rem;// 50px
$fn22: 3.25rem; // 52px
$fn23: 3.375rem;// 54px
$fn24: 3.5rem;  // 56px
$fn25: 3.625rem;// 58px
$fn26: 3.75rem; // 60px
$fn27: 3.875rem;// 62px
$fn28: 4rem;    // 64px
$fn29: 4.125rem;// 66px
$fn30: 4.25rem; // 68px
$fn31: 4.375rem;// 70px
$fn32: 4.5rem;  // 72px
$fn33: 4.625rem;// 74px
$fn34: 4.75rem; // 76px
$fn35: 4.875rem;// 78px
$fn36: 5rem;    // 80px
$fn37: 5.125rem;// 82px
$fn38: 5.25rem; // 84px
$fn39: 5.375rem;// 86px
$fn40: 5.5rem;  // 88px
$fn41: 5.625rem;// 90px
$fn42: 5.75rem; // 92px
$fn43: 5.875rem;// 94px
$fn44: 6rem;    // 96px